@font-face {
  font-family: 'Martian Mono';
  src: url('./MartianMono[wdth,wght].ttf') format('truetype');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Populaire';
    src: url('Populaire.eot');
    src: url('Populaire.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lilita';
    src: url('LilitaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

